body { 
    background-color: #866D9B;
}
image {border: 10px dotted;}
hr {border: 10px dotted;}
table {background-color: #5AAC96; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
tr {text-align: center;}
h1 {font-size: 400%}